#listing {
	position: fixed;
	height: 100vh;
	top: 0;
	box-shadow: #000 5px 0 10px;
	z-index: 2;
	background: #fff;
	transition: 0.5s ease left, 0.7s linear width;
	overflow: auto;
}

#searchbar {
	display: block;
	margin: 12vh auto 0 auto;
	width: 100%;
	padding: 20px;
	font-size: 1.2em;
	box-sizing: border-box;
}

#searchbar:focus {
	border: 3px solid cyan;
}

#venueList {
	list-style: none;
	width: 100%;
	padding: 20px 0px;
}

#venueList li {
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
}

#venueList li:hover,
#venueList li:nth-of-type(even):hover {
	background: #aaa;
	cursor: pointer;
	color: white;
	text-decoration: underline;
}

#venueList li:nth-of-type(even) {
	background: #eee;
}

.show-lists {
	left: 0;
	width: 300px;
}

.hide-lists {
	left: -1000px;
	width: 0;
}

.distance {
	color: darkolivegreen;
}