nav {
	display: flex;
	width: 100vw;
	height: 10vh;
}

nav h1 {
	text-align: center;
	width: 100%;
	letter-spacing: 0.3rem;
	font-weight: normal;
}

#hamburger {
	height: 100%;
	width: 10vh;
	font-size: 3em;
	text-align: center;
	background: #fff;
	color: #000;
	z-index: 3;
	cursor: pointer;
	outline: none;
}

#hamburger:hover {
	background: #000;
	color: #fff;
}



@media screen and (max-width: 400px) {
	nav {
		height: 10vh;
	}
	nav h1 {
		font-size: 1.2em;
	}
}